[Unit]
Description=Update the Viame Instance

[Service]
EnvironmentFile=/etc/systemd/system/viame-deploy.env
ExecStart=/usr/bin/ansible-playbook $VIAME_PROJECT_SRC/docker/ansible/deploy.yml
Type=oneshot
